opencv-python-headless==4.2.0.32
pytesseract==0.3.7
numpy==1.19.3
Flask==1.1.1
Pillow==8.0.1

-------------------------------------------------------------------------
Install tesseract using windows installer available at: 
https://github.com/UB-Mannheim/tesseract/wiki
    
When installing tesseract-ocr choose the option to add to the system path.



